<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <body>
        <ui:composition> 
            <h4>Données</h4>
            <h:form>
                <br/><br/>
                <p:outputLabel value="Filtre par ville"/>
                <p:inputText id="text" value="#{dataView.filtreVille}"/>
                <p:button value="Submit" outcome="components/FiltreVille">
                    <f:param name="ville" value="#{dataView.filtreVille}" />
                </p:button>
            </h:form>
 <br/><br/>
            <h:form id="tableForm">                
                <h:panelGrid columns="2" cellpadding="5" style="width: 50%">
                    <p:outputLabel value="Photographies enregistrées : "/>
                </h:panelGrid>
            </h:form>

            <p:dataTable var="data" value="#{dataView.data}">
                <p:columns value="#{dataView.labels}" var="label" headerText="#{label}">
                    <h:outputText value="#{data[label]}"/>
                </p:columns>
            </p:dataTable>
        </ui:composition>
        
    </body>
</html>
