<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
     
    <h:head>
        <!-- Compiled and minified CSS -->
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
        
    </h:head>
 
    <h:body>
        <h:form>
            <f:ajax render="content">
                <ul id="slide-out" class="sidenav sidenav-fixed mysidenav">
                    <img src="../resources/img/logo.png" width="200px" height="100px"/>
                    <li><h:commandLink value="Accueil" ></h:commandLink></li>
                    <li><h:commandLink value="Données" ></h:commandLink></li>
                    <li><h:commandLink value="Statistiques" ></h:commandLink></li>
                    <li><h:commandLink value="Insertion" ></h:commandLink></li>
                </ul>
            </f:ajax>
        </h:form>
        
        <p:panel id="content" class="m-200 custom-panel">
                <p:outputLabel value="#{param['ville']}"/>
                    <p:dataTable var="data" value="#{dataView.filtrerVille(param['ville'])}">
                        <p:columns value="#{dataView.labels}" var="label" headerText="#{label}">
                            <h:outputText value="#{data2[label]}"/>
                        </p:columns>
                    </p:dataTable>
            
        </p:panel>
        
        <footer class="m-200 page-footer myfooter">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">ARCHIVES DU LOIRET</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.archives-loiret.fr/">Loiret</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 TEA BD
            </div>
          </div>
        </footer>
        <!-- Compiled and minified JavaScript -->
        <h:outputScript library="js" name="materialize.js"></h:outputScript>
    </h:body>
</html>

