<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <body>
        <ui:composition> 
            <h4>Insertion d'une photographie (En Panne)</h4>
            <h5>-- Insérer par l'application externe fournie --</h5>
            <h:form title="Insertion" class="ins_form">
                <h5>Formulaire d'insertion</h5>
                <p:panelGrid columns="2" columnClasses="ui-grid-col-2, ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank ui-fluid">                                    
                    <p:outputLabel for="inputRef" value="Référence Cindoc : " />
                    <p:inputText id="inputRef" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.refCindoc}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputSerie" value="Série : "/>
                    <p:inputText id="inputSerie" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.serie}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputArt" value="Article : "/>
                    <p:inputText id="inputArt" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.article}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputDiscri" value="Discriminant : "/>
                    <p:inputText id="inputDiscri" value="#{insertView.discriminant}"/>
                    
                    <p:outputLabel for="inputVille" value="Ville : "/>
                    <p:inputText id="inputVille" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.ville}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputSujet" value="Sujet : "/>
                    <p:inputText id="inputSujet" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.sujet}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputDescr" value="Description : "/>
                    <p:inputText id="inputDescr" value="#{insertView.description}"/>
                    
                    <p:outputLabel for="inputDate" value="Date : "/>
                    <p:calendar id="inputDate" value="#{insertView.date}"/>
                    
                    <p:outputLabel for="inputNBP" value="Note Bas de Page : "/>
                    <p:inputText id="inputNBP" value="#{insertView.NBP}"/>
                    
                    <p:outputLabel for="inputIdxPers" value="Index Personne : "/>
                    <p:inputText id="inputIdxPers" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.idxPers}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputNFichier" value="Nm de Fichier : "/>
                    <p:inputText id="inputNFichier" value="#{insertView.nomFichier}"/>
                    
                    <p:outputLabel for="inputIdxIcono" value="Index Iconographique : "/>
                    <p:inputText id="inputIdxIcono" value="#{insertView.idxIcono}"/>
                    
                    <p:outputLabel for="inputNbCliche" value="Nombre de clichés : "/>
                    <p:inputText id="inputNbCliche" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" value="#{insertView.nbCliche}">
                    </p:inputText>
                    
                    <p:outputLabel for="inputTCliche" value="Taille des clichés : "/>
                    <p:inputText id="inputTCliche" value="#{insertView.tailleCliche}"/>
                    
                    <p:outputLabel for="inputNegInv" value="Negatif/Inversible : "/>
                    <p:selectBooleanButton id="inputNegInv" onLabel="Négatif" offLabel="Inversible" value="#{insertView.neg_inv}"/>
                    
                    <p:outputLabel for="inputCoulNB" value="Couleur/Noir-Blanc : "/>
                    <p:selectBooleanButton id="inputCoulNB" onLabel="Couleur" offLabel="NB" value="#{insertView.c_nb}"/>
                    
                    <p:outputLabel for="inputRem" value="Remarque : "/>
                    <p:inputText id="inputRem" value="#{insertView.remarque}"/>
                </p:panelGrid>
                
                <p:commandLink value="submit" oncomplete="#{insertView.inserer()}" class="waves-effect waves-light btn" style="margin-top: 50px;"/>
            </h:form>
            
        </ui:composition>
        
    </body>
</html>
