<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
            <p:dataTable var="photo" value="#{dataView.photos}">
                <p:column headerText="Id">
                    <h:outputText value="#{photo.id}" />
                </p:column>

                <p:column headerText="Article">
                    <h:outputText value="#{photo.idArticle}" />
                </p:column>

                <p:column headerText="Serie">
                    <h:outputText value="#{photo.serie}" />
                </p:column>
                <p:column headerText="Ville">
                    <h:outputText value="#{photo.ville}" />
                </p:column>

                <p:column headerText="Description">
                    <h:outputText value="#{photo.description}" />
                </p:column>

                <p:column headerText="Note">
                    <h:outputText value="#{photo.note}" />
                </p:column>
                <p:column headerText="Personne">
                    <h:outputText value="#{photo.personne}" />
                </p:column>

                <p:column headerText="Cliche">
                    <h:outputText value="#{photo.cliche}" />
                </p:column>

                <p:column headerText="Remarque">
                    <h:outputText value="#{photo.remarque}" />
                </p:column>
            </p:dataTable>
</html>