<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <ui:composition> 
            <h:form>
                <h4>Gestion des photographies du Loiret</h4>
                <br /><br />
                <h:panelGrid columns="1" cellpadding="5" style="width: 50%">
                    <p:chart id="pie" type="pie" responsive="true" model="#{chartView.pieModel}" />
                    <p:chart type="bar" model="#{chartView.barModel}" style="height:300px" responsive="true" />
                    <p:chart type="pie" responsive="true" model="#{chartView.pieModel2}"/>
                    <p:chart type="pie" responsive="true" model="#{chartView.pieModel3}"/>
                    <p:chart type="pie" responsive="true" model="#{chartView.pieModel4}"/>
                    <p:chart type="pie" responsive="true" model="#{chartView.pieModel5}"/>


                </h:panelGrid>
                <br/><br/>
                <h3>Informations complémentaires : </h3>
                <h:panelGrid columns="2" cellpadding="5" style="width: 50%" border="5">
                <p><strong>Nombre de villes représentées :</strong></p><p:outputLabel value="#{dataView.nombreVille}"/>
                <p><strong>Nombre de photos dans la base  :</strong></p><p:outputLabel value="#{dataView.nombrePhoto}"/>
                </h:panelGrid>
                <br /><br />
            </h:form>
        </ui:composition>
    </body>
    
</html>
