<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
            <p:dataTable var="Sujet" value="#{dataView.sujets}">
                <p:column headerText="Id">
                    <h:outputText value="#{sujet.id}" />
                </p:column>

                <p:column headerText="Nom">
                    <h:outputText value="#{sujet.nom}" />
                </p:column>
            </p:dataTable>
</html>