<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
            <p:dataTable var="ville" value="#{dataView.villes}">
                <p:column headerText="Id">
                    <h:outputText value="#{ville.id}" />
                </p:column>

                <p:column headerText="Nom">
                    <h:outputText value="#{ville.nom}" />
                </p:column>

                <p:column headerText="Canton">
                    <h:outputText value="#{ville.idCanton}" />
                </p:column>
                <p:column headerText="CoordLat">
                    <h:outputText value="#{ville.coordLat}" />
                </p:column>

                <p:column headerText="CoordLong">
                    <h:outputText value="#{ville.coordLong}" />
                </p:column>

            </p:dataTable>
</html>
