/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2019, 18:41:31
    Author     : tpoya
*/

.mysidenav {
    width: 200px;
    background: #424242;
}

.mysidenav > li > a {
    color: white;
}

.mysidenav li > a:hover {
  background-color: #6d6d6d;
}

.myfooter {
      background-color: #6d6d6d;
}

.custom-panel {
    padding: 10px;
    border: none;
}

.m-200 {
    margin-left: 200px;
}

h4 {
    margin: 0;
    color: rgba(0, 0, 0, 0.42);
}

@media only screen and (max-width : 800px) {
      header, main, footer {
        padding-left: 0;
      }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.ins_form {
    margin: 50px 20px 50px 20px;
    padding: 10px 20px 20px 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.ins_form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h5 {
    text-align: center;
    color: rgba(0, 0, 0, 0.42);
}